src/main/mule/global/fastgo-External-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fastgo-External-systemFlow" doc:id="ba940eef-69bc-4034-86d8-0de5a5097092" >
		<http:listener doc:name="Listener" doc:id="668f972a-01ee-4ba4-b3bd-261cfb160335" config-ref="HTTP_Listener_config" path="${http.listner.path}">
			<http:error-response statusCode="#[vars.errorcode as Number]" >
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="9e15ba36-02e7-485e-a499-ec57ac655552" message="Request recived for FastGo External System  For transactionId    #[vars.transactionId]"/>
		<ee:transform doc:name="Transform Message" doc:id="db235835-5063-4e82-9fa8-2accc893e4f4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/json
---
attributes.headers.transactionId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="170c12f0-e241-43e4-a86e-a6182f27a217" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="Logger" doc:id="b75b31f2-4515-4fdf-87b6-39ec9756e247" message="routes calles for FastGo External System  For transactionId #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="af5e68cc-6e92-4e64-8f38-abf19d6f980c" name="fastGo-GetRoutes-ImplementationSub_Flow"/>
			</when>
			<when expression='#[vars.serviceType == "schedules"]'>
				<logger level="INFO" doc:name="Logger" doc:id="b7fa2691-cebc-4b18-987a-f76d4f9ea0f4" message="schedules called for FastGo External System  For transactionId #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="1211e468-bb2b-4d59-932e-b55379a2ba9c" name="FastGo-GetSchedules-ImplementationSub_Flow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="5936aa4e-f60a-4362-86d6-6d71e53b5210" message="Uri Parameter is Not Correct for FastGo External System  For transactionId #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="fa2fcc71-6382-4758-8477-583dbe5241ac" message="Response from FastGo External System  For transactionId  #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="80d5a412-c853-48fb-ba24-73b5c761af3a" >
				<logger level="INFO" doc:name="Logger" doc:id="be01299e-2d58-4d7c-9050-3e712c8e6af2" message="Error in FastGo External System for transactionId  #[vars.transactionId]"/>
				<ee:transform doc:name="Transform Message" doc:id="e453ddd8-4432-4303-bd70-49cb98959ea4" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
						<ee:set-variable variableName="errorcode" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
